<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">

  {# On charge le CSS de bootstrap depuis le site directement #}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>
  <body>
  	<div class="container">

  		<h1> Musée du Louvre </h1>
		<hr>

		<h3> Confirmation de votre réservation pour le {{ reservation.day | date('d/m/Y') }} </h3>
		<p> Ce mail fait office de billet de réservation </p>

		{% set total = 0 %}

		<table class="table">
			<thead>
				<tr>
					<th scope="col"> # </th>
					<th scope="col"> Nom </th>
					<th scope="col"> Prénom </th>
					<th scope="col"> Prix </th>
				</tr>
			</thead>
			<tbody>
				{% for billet in billets %}
				<tr>
		 			<th scope="row"> {{ loop.index }} </th>
		 			<td> {{ billet.name }} </td>
		 			<td> {{ billet.lastname }} </td>
		 			<td> {{ billet.price }} €</td>
		 		</tr>

		 		{# Calcul du total #}
		 	 	{% set total = total +  billet.price %}
		 	{% endfor %}
			</tbody>
		</table>
		<p> <b> Total :  {{ total }} € </b> </p>

		<p> code de réservation : {{ code }} </p>

	 	<hr>

	  	<footer>
	  		<p class="text-center"> Musée du Louvre © {{ 'now'|date('Y') }}.</p>
	  	</footer>
	 </div>

    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>